{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="mainheader">
      <h1>Gallery Vault</h1>
    </div>
    <div class="main">
      <div class="mainnav">
        <h3><i class="bi bi-person-circle"></i>{{ user.username }}</h3>
        <h4><a href="{% url 'newpost' %}">Add Post</a></h4>
        <a href="{% url 'logoutuser' %}"
          ><button style="border: 1px red solid; background-color: red">
            logout
          </button></a
        >
      </div>
      <div class="mainfeed">
        {% for feed in feeds %}
        <a href="{% url 'view_image' feed.pk %}">
          <div class="feed">
            <img
              src="{{ feed.feedimage.url }}"
              alt="image"
              class="images"
              style="height: 200px; width: 200px"
            />
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
